.feature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    margin-bottom: 20px;
  }
  &__title {
    color: #3a3c3e;
    margin-bottom: 20px;
  }

  &__description {
    text-align: center;
  }
}
