.textarea {
  background: hsla(0, 0%, 100%, 0.7);
  border: none;
  border-radius: 30px;
  color: #000;
  font-size: 14px;
  height: 100%;
  line-height: 17px;
  outline: none;
  padding: 16px 24px;
  resize: none;
  width: 100%;

  &::placeholder {
    color: #000;
  }
}
