@font-face {
  font-family: "Lemon/Milk Regular";
  src: url("../src/assets/fonts/Lemon-milk-regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "FutuBk";
  src: url("../src/assets/fonts/FuturaBk.otf");
  font-weight: 200;
  font-style: normal;
}

* {
  transition: 0.3s;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: "Lemon/Milk Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

body {
  margin: 0;
}

input,
b,
textarea {
  font-family: "FutuBk";
}

a {
  text-decoration: none;
}
